*{
  margin: 0px;
  padding: 0px;

}
.app{
  display: flex;
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: bisque;
}
.main{
width: 75%;
/* background-color: blue; */
background-image: linear-gradient(rgba(0,0,0,0), rgb(3, 0, 8) ), 
url(./assets/bg.jpg);
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
}
.top{
  height: 50%;
  position: relative;
  }
  .timer{
    font-size: 2.5rem;
    font-weight: 900;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    /* margin-top: 280px; */

  }
.bottom{
  height: 50%;

  
}
.quiz{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  text-align: center;
  
}
.question{
  font-size: 2.3rem;
  font-weight: 700;
  /* margin: auto; */
  background: linear-gradient(rgb(1, 5, 77), rgb(8, 8, 8));
  padding: 10px;
  border-radius: 15px;
  border: 2px solid white;
  width: 100%;
  /* margin-bottom: 5%; */
}
.options{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  
}
.option{
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  width: 30%;
  margin-bottom: 30px;
  margin-right: 20px;
  background: linear-gradient(rgb(33, 71, 87), rgb(2, 40, 66));
  padding: 15px;
  border-radius: 10px;
  border: 2px solid white;
}
.option.select{
  background: aqua;
  
}
.option:hover, 
.option.active{
  background: mediumblue;
}
.option.correct{
  animation: correct 3s ease forwards;
}
@keyframes correct {
  0%, 22%, 42%, 62%{ 
    background: mediumblue;
  }
  20%, 40%, 60%{
    background: linear-gradient(rgb(33, 71, 87), rgb(2, 40, 66));
  }
  70%, 100%{
    background: green;
  }
}
.option.wrong{
  animation: wrong 3s ease forwards;
}
@keyframes wrong {
  0%, 22%, 42%, 62%{ 
    background: mediumblue;
  }
  20%, 40%, 60%{
    background: linear-gradient(rgb(33, 71, 87), rgb(2, 40, 66));
  }
  70%, 100%{
    background: crimson;
  }
}

.mPyramid{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  background-color: rgb(23, 0, 104);
}
.moneyList{
  list-style: none;
  width: 90%;
}
.moneyListItem{
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  margin-bottom: 15px;
}
.moneyListItem.active{
  background-color: teal;
  border-radius: 10px;
}
.moneyListItem.wining{
  background-color: rgb(241, 86, 161);
  border-radius: 10px;
}
.moneyListItemNumber{
  width: 20%;
  font-size: 1.8rem;
}
.moneyListAmount{
  font-weight: bolder;
}

.endText{
  margin: auto;
  color: chartreuse;
  font-size: 2.5rem;
}